---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			:root {
				--Red: hsl(0, 78%, 62%);
				--Cyan: hsl(180, 62%, 55%);
				--Orange: hsl(34, 97%, 64%);
				--Blue: hsl(212, 86%, 64%);
				--Very-Dark-Blue: hsl(234, 12%, 34%);
				--Grayish-Blue: hsl(229, 6%, 66%);
				--Very-Light-Gray: hsl(0, 0%, 98%);
			}
		</style>
	</head>
	<body>
		<div class="my-14">
			<Header />
			<Main />
		</div>
	</body>
</html>
