<style>
  .header__firstParagraph,
  .header__secondParagraph {
    color: var(--Very-Dark-Blue);
  }
  .header__thirParagraph {
    color: var(--Grayish-Blue);
  }
</style>
<header class="w-10/12 m-auto flex flex-col gap-5">
  <div class="text-center text-4xl">
    <p class="header__firstParagraph">Reliable, efficient delivery</p>
    <p class="font-bold header__secondParagraph">Powered by Technology</p>
  </div>
  <p class="text-center header__thirParagraph text-xl md:w-5/12 md:m-auto">
    Our Artificial intelligence powered tools use millions of project data
    poinst to ensure that your project is successful
  </p>
</header>
