---
import Card from "./Card.astro";
---

<main
  class="w-10/12 m-auto flex flex-col gap-8 mt-10 md:grid md:grid-cols-3 md:items-center md:w-9/12"
>
  <Card
    title="Supervisor"
    content="Monitors activity to indentify project roadblocks"
    logo="icon-supervisor.svg"
    classList="card shadow-2xl rounded-md p-7 cyan bg-white"
  />
  <div class="md:grid md:grid-cols-1 md:gap-10">
    <Card
      title="Team Builder"
      content="Scans our talent network to create the optimal team for your project"
      logo="icon-team-builder.svg"
      classList="card shadow-2xl rounded-md p-7 red bg-white"
    />
    <Card
      title="Karma"
      content="Regulary evaluates our talent to ensure quality"
      logo="icon-karma.svg"
      classList="card shadow-2xl rounded-md p-7 orange bg-white"
    />
  </div>
  <Card
    title="Calculator"
    content="Uses data from past projects to provide better delivery estimates"
    logo="icon-calculator.svg"
    classList="card shadow-2xl rounded-md p-7 blue bg-white"
  />
</main>
